{% from "macros.j2" import title_tags, title_prefix %}
{%- set prefix = title_prefix(contract, opts) -%}
{%- set fact_tags = opts.title_fact_tags(contract) -%}
{% if fact_tags and opts.tag_builder_placement == "prefix" %}{{ fact_tags }} {% endif -%}
{{- prefix }}{% if prefix %} {% endif %}{{ base }}{{ title_tags(contract, reward, opts, em) }}{% if fact_tags and opts.tag_builder_placement == "suffix" %} {{ fact_tags }}{% endif %}
